<h1>Did you know?</h1>

<p>
New pasta shapes are being added each year! <br>
Check out the newest one <a href="https://www.vice.com/en/article/akebbj/sfoglini-new-pasta-shapes">here</a>.
</p><br>

<div class="btn-div">
  <%= link_to "Nevermind! Take me home.", root_path, class: "btn-home" %>
</div>