<h1>Welcome to Pasta-bilities!</h1>

<div class='btn-div'>
  <%= link_to "Take a Guess!", new_guess_path, class: "btn-guess" %>
</div>

<div class='btn-div'>
  <%= link_to "What does this do?", random_path, class: "btn-random" %>
</div>
